#header {
	position: static;
	top: 0px;
}
* {
	box-sizing: border-box;
}

.articleUnique{
	width: 100%;
  
}

.articleDetail{
    width: 25%;
}

.column {
    margin: auto; 
  
	padding: 15px;
}

.login{
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
    padding: 15px;
}
.login .log_tab{
    margin: auto;
}
.login .log_tab .btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#upperpart{
    background-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
#leftpart{
    float: left;
    background-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    /*padding: 10px 10px 10px 10px;*/
    text-align: center;
    width:25%;
}


#articleListing{
    float: right;
    margin:auto;
    background-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width:75%;
}

#articles{
    width:500px;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    background-color: #cccccc;
    width:auto;
    
    
}

.menu {
    width: 100%;
}

.search {
    width: 100%;
}

.btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto; 
    width: 23%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 18px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #E8B960;
    color: #ffffff;
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;  
}

.menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li:hover {
  background-color: #0099cc;
}

.btn:hover{
    background-color: darkorange;
}
.menu button{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 18%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 18px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}
.log_btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto; 
    width: 23%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 18px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
    
}
.log_field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}
.field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
    color: red;
}
button:hover{
    background-color: darkorange;
}

.circle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    background-color: lightblue;
    float:right;
}
/*
.selector{
    font-family: Lato;
    width: 98%;
}
.selector select{
    display: none;
}
.select-selected{
    background-color: DodgerBlue;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.select-items form,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}

.select-items form:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}*/

.search .field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}
.search .btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px;
    margin: auto;
    width: 90%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.search select{
    width: 90%;
    height: auto;
    padding: 5px;
    margin: auto;
    font-family: PT sans;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #E8B960;
    text-decoration-color: aqua;
    border-color: #E8B960;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none;
    appearance: none; 
    cursor: pointer; 
    background: url(white-down-arrow-png-2.png) 96% / 5% no-repeat #E8B960;
}
.search select::-ms-expand { 
    display: none; 
}
.search select:hover{
    background: url(white-down-arrow-png-2.png) 96% / 5% no-repeat darkorange;
}

.search .price_show{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px;
    margin: auto;
    margin-bottom:10px; 
    width: 20%;
    height:auto;
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff;
}

/*.select-wrapper {
	position: relative;	
}

.select-wrapper:after {
	font-family: FontAwesome;
  	content: '>';
  	font-size: 20px;
  	position: absolute;
  	
  	color: #434B67;
  	pointer-events: none;
}*/
.search input[type=range] {
    -webkit-appearance: none;
    width: 90%;
    margin-bottom:10px;
    margin: auto;
}
.search input[type=range]:focus {
    outline: none;
}
.search input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 17px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #e8b960;
    border-radius: 1.3px;
    border: 0.2px solid #e8b960;
}
.search input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 21px;
    width: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.2px;
}
.search input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ebc376;
}
.search input[type=range]::-moz-range-track {
    width: 100%;
    height: 17px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #e8b960;
    border-radius: 1.3px;
    border: 0.2px solid #e8b960;
}
.search input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 21px;
    width: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.search input[type=range]::-ms-track {
    width: 100%;
    height: 17px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.search input[type=range]::-ms-fill-lower {
    background: #e5af4a;
    border: 0.2px solid #e8b960;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.search input[type=range]::-ms-fill-upper {
    background: #e8b960;
    border: 0.2px solid #e8b960;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.search input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 21px;
    width: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    height: 17px;
}
.search input[type=range]:focus::-ms-fill-lower {
    background: #e8b960;
}
.search input[type=range]:focus::-ms-fill-upper {
    background: #ebc376;
}

#footer {
	bottom: 0px;
	height: 30px;
	width: 100%;
	clear: both;
	text-align: center;
	background-color: #d67600;
}
