#header {
	position: static;
	top: 0px;
}


/*!!!!!!!!!!!!!!!!*/
/*GENERAL*/

* {
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    margin: auto; 
  
	padding: 15px;
}

/*
.circle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    background-color: lightblue;
    float:right;
}
*/

/*Input type field*/
.field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}

/*Input type button*/
.btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto; 
    width: 23%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 18px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}



/*!!!!!!!!!!!!!!!!*/
/*ARTICLES*/
#articleListing{
    float: right;
    margin:auto;
    background-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width:75%;
}

#articles{
    width:500px;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    background-color: #cccccc;
    width:auto;
    
    
}
.articleUniqueTab{
	width: 100%; 
}

.singleImage{
    border: 1px solid black;
    width: 2%;
}

.singleArticle{
    padding-left: 5%;
}

.articleDetail{
    width: 25%;
}

.articleDetail a{
	color: inherit;
	text-decoration: inherit;
}

.articleDetail a:hover{
	color: inherit;
}


/*!!!!!!!!!!!!!!!!*/
/*LOGIN*/
 .login{
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
    padding: 15px;
}
.login .log_tab{
    margin: auto;
}
.login .log_tab .btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.login .log_tab .btn:hover{
    background-color: darkorange;
}
.log_btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto; 
    width: 23%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 18px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
    
}
.log_field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}


/*!!!!!!!!!!!!!!!!*/
/*HEADER menu*/
#upperpart{
    background-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.menu {
    width: 100%;
}
/*
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline-block;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #E8B960;
    color: #ffffff;
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;  
}
.menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li:hover {
  background-color: #0099cc;
}*/

.menu button{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px; 
    width: 18%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 18px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}



/*!!!!!!!!!!!!!!!!*/
/*SEARCH menu*/
#leftpart{
    float: left;
    background-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    /*padding: 10px 10px 10px 10px;*/
    text-align: center;
    width:25%;
}

.search {
    width: 100%;
}

.search .field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}
.search .btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px;
    margin: auto;
    width: 90%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.search select{
    width: 90%;
    height: auto;
    padding: 5px;
    margin: auto;
    font-family: PT sans;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #E8B960;
    text-decoration-color: aqua;
    border-color: #E8B960;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none;
    appearance: none; 
    cursor: pointer; 
    background: url(white-down-arrow-png-2.png) 96% / 5% no-repeat #E8B960;
}
.search select::-ms-expand { 
    display: none; 
}
.search select:hover{
    background: url(white-down-arrow-png-2.png) 96% / 5% no-repeat darkorange;
}

.search .price_show{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px;
    margin: auto;
    margin-bottom:10px; 
    width: 20%;
    height:auto;
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff;
}

.search input[type=range] {
    -webkit-appearance: none;
    width: 90%;
    margin-bottom:10px;
    margin: auto;
}
.search input[type=range]:focus {
    outline: none;
}
.search input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 17px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #e8b960;
    border-radius: 1.3px;
    border: 0.2px solid #e8b960;
}
.search input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 21px;
    width: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.2px;
}
.search input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ebc376;
}
.search input[type=range]::-moz-range-track {
    width: 100%;
    height: 17px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #e8b960;
    border-radius: 1.3px;
    border: 0.2px solid #e8b960;
}
.search input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 21px;
    width: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.search input[type=range]::-ms-track {
    width: 100%;
    height: 17px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.search input[type=range]::-ms-fill-lower {
    background: #e5af4a;
    border: 0.2px solid #e8b960;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.search input[type=range]::-ms-fill-upper {
    background: #e8b960;
    border: 0.2px solid #e8b960;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.search input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 21px;
    width: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    height: 17px;
}
.search input[type=range]:focus::-ms-fill-lower {
    background: #e8b960;
}
.search input[type=range]:focus::-ms-fill-upper {
    background: #ebc376;
}


/*DO NOT MOVE !!! LEAVE IT IN THE EOF*/
button:hover{
    background-color: darkorange;
}
.btn:hover{
    background-color: darkorange;
}


/*!!!!!!!!!!!!!!!!*/
/*PAYMENT*/
.payment{
    text-align: center;
    font-family: Lato;
    width: auto;
    height: auto;
    margin: auto;
    padding: 15px;
}
.payment .tab{
    margin: auto;
}
.payment.btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.payment.btn:hover{
    background-color: darkorange;
}

.payment .tab .field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 15px;
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}
.payment .tab .l_field {
    
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: auto; 
    margin-top: 39px;
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}
.payment .mastercard{
    left: 0px;
    width: 61px;
    height: 38px;
    margin-right:2px;
    background: url('https://www.merchantequip.com/images/logos/visa-mc-amex-184x38.gif') 0px 0px;
}
.payment .visa{
    left: 0px;
    width: 61px;
    height: 38px;
    margin-right: 10px;
    background: url('https://www.merchantequip.com/images/logos/visa-mc-amex-184x38.gif') -61px 0px;
}
.payment .amex{
    left: 0px;
    width: 61px;
    height: 38px;
    margin-left: 5px;
    background: url('https://www.merchantequip.com/images/logos/visa-mc-amex-184x38.gif') -122px 0px;
}


/*!!!!!!!!!!!!!!!!*/
/*METTRE EN VENTE*/
.vente{
    text-align: center;
    font-family: Lato;
    width: auto;
    height: auto;
    margin: auto;
    padding: 15px;
}
.vente .tab{
    margin: auto;
}
.vente_btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.vente_btn:hover{
    background-color: darkorange;
}

.upload_btn{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload_btn + label {
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.upload_btn:focus + label,
.upload_btn + label:hover {
    background-color: darkorange;
}

.vente .tab .field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 15px;
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}

.vente select{
    width: 90%;
    height: auto;
    padding: 5px;
    margin: auto;
    font-family: PT sans;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #E8B960;
    text-decoration-color: aqua;
    border-color: #E8B960;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none;
    appearance: none; 
    cursor: pointer; 
    background: url(white-down-arrow-png-2.png) 96% / 5% no-repeat #E8B960;
}
.vente select::-ms-expand { 
    display: none; 
}
.vente select:hover{
    background: url(white-down-arrow-png-2.png) 96% / 5% no-repeat darkorange;
}


/*!!!!!!!!!!!!!!!!*/
/*PANIER*/

.basket{
    text-align: center;
    font-family: Lato;
    width: auto;
    height: auto;
    margin: auto;
    padding: 15px;
}
.basket .tab{
    margin: auto;
}
.basket_btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 5px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.basket_btn:hover{
    background-color: darkorange;
}

.basket .tab .field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 5px;
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}




/*!!!!!!!!!!!!!!!!*/
/*PAGE VENDEUR*/
.vendeur{
    text-align: center;
    font-family: Lato;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px;
}
.vendeur .tab{
    width: 60%;
    height:auto;
    margin: auto;
}
.vendeur .tab .bkg{
    padding: auto;
    /*background-image: url(https://www.doctorkweightloss.com/wp-content/uploads/Default-background-image.png);*/
    height: 200px;
    /*https://www.doctorkweightloss.com/default-background-image/ SOURCE*/
}
.vendeur .tab .prof{
    padding: 15px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: left top;
    
}
.vend_btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.vend_btn:hover{
    background-color: darkorange;
}

.upload_btn{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload_btn + label {
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.upload_btn:focus + label,
.upload_btn + label:hover {
    background-color: darkorange;
}

.vendeur .tab .field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 15px;
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}
.vendeur util {
    width: 100%;
    font-size:25px;
    color: darkgrey;
}
.vendeur tit{
    width: 100%;
    font-size:30px;
    text-transform: uppercase; 
}



/*!!!!!!!!!!!!!!!!*/
/*PAGE UTILISATEUR*/
.user{
    text-align: center;
    font-family: Lato;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px;
}
.user .tab{
    width: 60%;
    height:auto;
    margin: auto;
}
.user .tab .bkg{
    padding: auto;
    /*background-image: url(https://www.doctorkweightloss.com/wp-content/uploads/Default-background-image.png);*/
    height: 200px;
    /*https://www.doctorkweightloss.com/default-background-image/ SOURCE*/
}
.user .tab .prof{
    padding: 15px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: left top;
    
}
.user_btn{
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.user_btn:hover{
    background-color: darkorange;
}

.upload_btn{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload_btn + label {
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
    width: 98%;   
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;
    text-transform: uppercase;   
    color: #ffffff; 
}

.upload_btn:focus + label,
.upload_btn + label:hover {
    background-color: darkorange;
}

.user .tab .field{
    background-color: #ffffff;  
    border-style: solid;   
    border-width: 1px;   
    border-color: #dddddd;  
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 15px;
    width: 98%;  
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 12px;   
    font-weight: normal;   
    letter-spacing: 1px;
}
.user util {
    width: 100%;
    font-size:25px;
    color: darkgrey;
}
.user tit{
    width: 100%;
    font-size:30px;
    text-transform: uppercase; 
}




/*!!!!!!!!!!!!!!!!*/
/*SINGLEARTICLE*/

.sarticle{
    text-align: center;
    font-family: Lato;
    width: 100%;
    height: auto;
    margin: auto;
}

.sarticle .tab{
    width: 80%;
    height:auto;
    margin: auto;
}

.td1{
    vertical-align: top middle;
    width:10%;
}
.td2{
    vertical-align: top middle;
    width: 40%;
}
.td3{
    vertical-align: top middle;
    width: 30%;
}
.td4{
    vertical-align: top middle;
    width: 20%;
}





/*!!!!!!!!!!!!!!!!*/
/*ERROR*/

.error{
    background-color: lightyellow;  
    border-style: solid;   
    border-width: 1px;   
    border-color: darksalmon;  
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: auto;
    box-sizing: border-box;  
    font-family: Lato; 
    font-size: 30px;   
    font-weight: normal;   
    letter-spacing: 2px;
    color: orangered;
    text-align: center;
}



/*!!!!!!!!!!!!!!!!*/
/*FOOTER*/
#footer {
	bottom: 0px;
	height: 30px;
	width: 100%;
	clear: both;
	text-align: center;
	background-color: #d67600;
}


